/* Add custom google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* ------------------------------------------------ */
/* Global */
/* ------------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* ------------------------------------------------ */
/* Logo */
/* ------------------------------------------------ */

.logo {
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
}

.logo:hover {
  transform: scale(1.4);
}

/* ------------------------------------------------ */
/* Main content */
/* ------------------------------------------------ */

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  /* Evenly distibute space between rows */
  justify-content: space-between;
  /* Vertically align */
  align-items: center;
  background: #111;
  color: #fff;
  /* ALways over menu */
  z-index: 2;
  transition: 0.5s;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  /* Moves it above other elements */
  z-index: 1000;
  display: flex;
  align-items: center;
  /* Moves content to each corner */
  justify-content: space-between;
}

.showcase.active {
  /* Creates a 300px spacing */
  right: 300px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Scale image */
  object-fit: cover;
  opacity: 0.8;
}

/* ------------------------------------------------ */
/* Side navigation */
/* ------------------------------------------------ */

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(./assets/menu.svg);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.2s;
}

.toggle:hover {
  transform: scale(1.5);
}

.toggle.active {
  background: url(./assets/close.svg);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

/* ------------------------------------------------ */
/* Side menu content */
/* ------------------------------------------------ */

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  /* Helps in alighing content vertically */
  display: flex;
  /* Vertical align */
  align-items: center;
  /* Horizontal align */
  justify-content: center;
}

.menu ul {
  position: relative;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
  transition: 0.2s;
}

.menu ul li a:hover {
  color: aqua;
}

/* ------------------------------------------------ */
/* Description*/
/* ------------------------------------------------ */

.text {
  position: relative;
  /* Ensures its above video */
  z-index: 10;
}

/* ------------------------------------------------ */
/* Video overlay, adds a tint */
/* ------------------------------------------------ */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #646464;
  mix-blend-mode: overlay;
}

/* ------------------------------------------------ */
/* Content text size */
/* ------------------------------------------------ */

.text h2 {
  /* multiple parent font size by 5 */
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  /* multiple parent font size by 5 */
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  /* multiple parent font size by 5 */
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  /* Must not expand content after 700px */
  max-width: 700px;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: letter-spacing 0.2s;
}

.text a:hover {
  letter-spacing: 6px;
}

/* ------------------------------------------------ */
/* Social media icons */
/* ------------------------------------------------ */

.social {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  text-decoration: none;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
  transform: scale(2);
  color: #fff;
  transition: 0.2s;
}

.social li a:hover {
  transform: scale(2.4) translateY(-15px);
}

/* ------------------------------------------------ */
/* Resize context if screen is smaller than 798 px */
/* ------------------------------------------------ */

@media (max-width: 798px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
}
